#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "../zmk-nodefree-config/helper.h"

// 主层，与副层共同完成所有非功能性输入
#define PRI 0

// 副层，与主层共同完成所有非功能性输入
#define SEC 1

// 系统层，放置系统快捷键
#define SYS 2

// 应用层，放置应用快捷键
#define APP 3

// 弃置层，放置弃置快捷键
#define NON 4

// 临时层，放置测试快捷键
#define TMP 5

// 导航层，放置导航快捷键
#define NAV 6

// 控制层
#define BLU 7

#include "combos.dtsi"
#include "mouse.dtsi"

//////////////////////////////
// Global Behaviors
//////////////////////////////

#define _X_ &none
#define ___ &trans

#define TAP_MS 200
#define SHORT_TAP_MS 145

&lt {
    flavor = "balanced";
    tapping-term-ms = <TAP_MS>;
    quick-tap-ms = <TAP_MS>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <TAP_MS>;
    quick-tap-ms = <TAP_MS>;
};

#define MAKE_HRM(NAME, HOLD, TAP)         \
    ZMK_BEHAVIOR(NAME, hold_tap,          \
        flavor = "balanced";              \
        tapping-term-ms = <TAP_MS>;       \
        quick-tap-ms = <TAP_MS>;          \
        require-prior-idle-ms = <TAP_MS>; \
        bindings = <HOLD>, <TAP>;         \
    )
MAKE_HRM(hm, &kp, &kp)

//////////////////////////////
// ---------- PRI ----------
//////////////////////////////

#define _SWITCH_TO_PRE &kp LC(SPACE)
#define _SWITCH_TO_CHI &kp LA(LC(LS(C)))
#define _SWITCH_TO_ENG &kp LA(LC(LS(E)))
#define _SWITCH_TO_RUS &kp LA(LC(LS(R)))

ZMK_BEHAVIOR(switch_lang, tap_dance,
    bindings = <&mt LGUI LC(SPACE)>, <&caps_word>;
)

////////////////////

// reuse basic mod-morph scheme
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

SIMPLE_MORPH(comma_morph, SFT, &kp COMMA, &kp SEMI)
SIMPLE_MORPH(dot_morph, SFT, &kp DOT, &kp COLON)

ZMK_BEHAVIOR(special_leader, tap_dance,
    bindings = <&lt SYS LA(V)>, <&kp LA(Z)>;
)

ZMK_LAYER(PRI,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                 ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   &kp Q             &kp W             &kp E             &kp R             &kp T                                           &kp Y             &kp U             &kp I             &kp O             &kp P           _X_
//                      '                 <                 >                _x_                                                               _x_                [                 ]                 "
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                 ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//             `                 -                 /                 |                 _                                               @                 #                 ?                 $                 \
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                 ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &hm LGUI A        &hm LALT S        &hm LCTRL D       &hm LSHFT F       &kp G                                           &kp H             &hm LSHFT J       &hm LCTRL K       &hm LALT L        &switch_lang    _X_
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                 ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//            _x_                +                 *                 &                 =                                               ~                 %                 !                 ^                _x_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                 ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &kp Z             &kp X             &kp C             &kp V             &kp B                                           &kp N             &kp M             &comma_morph      &dot_morph        _X_             _X_
//                     _x_                (                 )                _x_                                                               _x_                {                 }                _x_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                 ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               &lt SEC SPACE     &special_leader &lt APP TAB     &lt NON ESC     &lt TMP BSPC      &lt NAV RET
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- SEC ----------
//////////////////////////////

// TODO: this layer is useless, maybe we can remove it
// TODO: add Fn key
// TODO: add F{1-12} keys

ZMK_LAYER(SEC,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   _X_               &kp N7            &kp N8            &kp N9            _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &kp N0            &kp N4            &kp N5            &kp N6            _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               &kp N1            &kp N2            &kp N3            _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- SYS ----------
//////////////////////////////

// TODO: those key is useless

#define _COPY &kp LG(C)
#define _CUT &kp LG(X)
ZMK_BEHAVIOR(copy_cut, tap_dance,
    bindings = <_COPY>, <_CUT>;
)

#define _PASTE &kp LG(V)

#define _UNDO &kp LG(Z)
#define _REDO &kp LG(LS(Z))
ZMK_BEHAVIOR(undo_redo, tap_dance,
    bindings = <_UNDO>, <_REDO>;
)

ZMK_BEHAVIOR(vol_dn_mute, tap_dance,
    bindings = <&kp C_VOL_DN>, <&kp C_MUTE>;
)

ZMK_LAYER(SYS,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   &kp C_NEXT        &kp C_VOL_UP      &kp C_BRI_UP      _X_               _X_                                               _X_               _X_               _X_               _X_               &kp LG(LC(Q))   _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &kp C_PP          &copy_cut         _PASTE            &undo_redo        &key_repeat                                       _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &kp C_PREV        &vol_dn_mute      &kp C_BRI_DN      _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- APP ----------
//////////////////////////////

ZMK_LAYER(APP,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   &kp LA(LS(N1))    &kp LA(LS(N6))    _X_               _X_               &kp LG(LS(SPACE))                                 _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &kp LA(LS(N3))    &kp LA(LS(N2))    _X_               &kp LG(LS(F))     _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &kp LA(LS(N5))    &kp LA(LS(N4))    &kp LG(LS(C))     _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- NON ----------
//////////////////////////////

ZMK_LAYER(NON,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- TMP ----------
//////////////////////////////

ZMK_LAYER(TMP,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- NAV ----------
//////////////////////////////

ZMK_BEHAVIOR(smart_left, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp LEFT>, <&kp HOME>;
)

ZMK_BEHAVIOR(smart_down, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp DOWN>,  <&kp PG_DN>;
)

ZMK_BEHAVIOR(smart_up, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp UP>, <&kp PG_UP>;
)

ZMK_BEHAVIOR(smart_right, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp RIGHT>, <&kp END>;
)

ZMK_BEHAVIOR(smart_mouse_up, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&mmv M_U>, <&mmv I_M_D>;
)
ZMK_BEHAVIOR(smart_mouse_down, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&mmv M_D>, <&mmv I_M_U>;
)
ZMK_BEHAVIOR(smart_mouse_left, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&mmv M_L>, <&mmv I_M_R>;
)
ZMK_BEHAVIOR(smart_mouse_right, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&mmv M_R>, <&mmv I_M_L>;
)

ZMK_LAYER(NAV,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   _X_               _X_               &mmv S_M_U        _X_               _X_                                               &smart_mouse_left &smart_mouse_down &smart_mouse_up   &smart_mouse_right _X_            _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               &mmv S_M_L        _X_               &mmv S_M_R        _X_                                               &smart_left       &smart_down       &smart_up         &smart_right      _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               &mmv S_M_D        _X_               _X_                                               &msc SCROLL_RIGHT &msc SCROLL_UP    &msc SCROLL_DOWN  &msc SCROLL_LEFT  _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               &mkp LCLK         &mkp RCLK       ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- BLU ----------
//////////////////////////////

#if CONFIG_WIRELESS

#include <dt-bindings/zmk/bt.h>

ZMK_CONDITIONAL_LAYER(APP NON, BLU)

ZMK_LAYER(BLU,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   _X_               &bt BT_SEL 7      &bt BT_SEL 8      &bt BT_SEL 9      &bt BT_CLR                                        &bt BT_CLR        _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   &bt BT_SEL 0      &bt BT_SEL 4      &bt BT_SEL 5      &bt BT_SEL 6      &bootloader                                       &bootloader       _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3      &sys_reset                                        &sys_reset        _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

#else

ZMK_LAYER(BLU,
//╭───╮ ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮                                   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮ ╭───╮
   _X_   _X_               _X_               _X_               _X_               _X_                                               _X_               _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               _X_               _X_               &bootloader                                       &bootloader       _X_               _X_               _X_               _X_             _X_
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
//
//├───┤ ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤                                   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤ ├───┤
   _X_   _X_               _X_               _X_               _X_               &sys_reset                                        &sys_reset        _X_               _X_               _X_               _X_             _X_
//╰───╯ ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯                                   ╰─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────┴───┴─────────────╯ ╰───╯
//                                                            ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮ ╭─────────────┬───┬─────────────╮
                                                               ___               ___             ___               ___             ___               ___
//                                                            ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯ ╰─────────────┴───┴─────────────╯
)

#endif
