#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "../zmk-nodefree-config/helper.h"

// 主层，与副层共同完成所有非功能性输入
#define PRI 0

// 系统层，放置系统快捷键
#define SYS 1

// 应用层，放置应用快捷键
#define APP 2

// 导航层，放置导航快捷键
#define TMP 3

// 副层，与主层共同完成所有非功能性输入
#define SEC 4

// 控制层
#define BLU 5

#include "combos.dtsi"

//////////////////////////////
// Global Behaviors
//////////////////////////////

#define ___ &trans
#define _x_ &none
#define xxx &none

#define TAP_MS 200
#define SHORT_TAP_MS 165

&lt {
    flavor = "balanced";
    tapping-term-ms = <TAP_MS>;
    quick-tap-ms = <TAP_MS>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <TAP_MS>;
    quick-tap-ms = <TAP_MS>;
};

#define MAKE_HRM(NAME, HOLD, TAP)         \
    ZMK_BEHAVIOR(NAME, hold_tap,          \
        flavor = "balanced";              \
        tapping-term-ms = <TAP_MS>;       \
        quick-tap-ms = <TAP_MS>;          \
        require-prior-idle-ms = <TAP_MS>; \
        bindings = <HOLD>, <TAP>;         \
    )
MAKE_HRM(hm, &kp, &kp)

//////////////////////////////
// ---------- PRI ----------
//////////////////////////////

// reuse basic mod-morph scheme
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

SIMPLE_MORPH(comma_morph, SFT, &kp COMMA, &kp SEMI)
SIMPLE_MORPH(dot_morph, SFT, &kp DOT, &kp COLON)

ZMK_BEHAVIOR(alt_leader, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&lt SYS LA(V)>, <&kp LA(Z)>;
)

ZMK_BEHAVIOR(del_leader, mod_morph,
    bindings = <&lt APP BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT)>;
)

ZMK_LAYER(PRI,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               &kp Q             &kp W             &kp E             &kp R             xxx                                             xxx               &kp U             &kp I             &kp O             &kp P             xxx
//                                  '                 <                 (                                                                                                     [                 {                 "
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//                         @                 -                 /                 _                                                                                   #                 ^                 |                 \
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               &hm LGUI A        &hm LALT S        &hm LCTRL D       &hm LSHFT F       &kp T                                           &kp Y             &hm LSHFT J       &hm LCTRL K       &hm LALT L        &hm LGUI Z        xxx
//                                 _x_               _x_               _x_                                                                                                   _x_               _x_               _x_
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//                                           +                 *                 =                 G                                               H                 %                 $                 &
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               xxx               &kp X             &kp C             &kp V             &kp B                                           &kp N             &kp M             &comma_morph      &dot_morph        xxx               xxx
//                                                    `                 ~                                                                                                     ?                 !
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           &lt TMP SPACE     &alt_leader     xxx             xxx             &del_leader       &lt SEC RET
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- SYS ----------
//////////////////////////////

#define _COPY &kp LG(C)
#define _CUT &kp LG(X)
ZMK_BEHAVIOR(copy_cut, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <_COPY>, <_CUT>;
)

#define _PASTE &kp LG(V)

#define _UNDO &kp LG(Z)
#define _REDO &kp LG(LS(Z))
ZMK_BEHAVIOR(undo_redo, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <_UNDO>, <_REDO>;
)

ZMK_BEHAVIOR(vol_prev_pp, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp C_PREV>, <&kp C_PP>;
)

ZMK_BEHAVIOR(vol_dn_mute, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp C_VOL_DN>, <&kp C_MUTE>;
)

ZMK_LAYER(SYS,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               &copy_cut         &kp C_BRI_UP      &kp C_VOL_UP      &kp C_NEXT        xxx                                             xxx               _x_               _x_               _x_               &kp LG(LC(Q))     xxx
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               _PASTE            &kp LG(LA(X))     &kp LG(LA(C))    &kp LG(LA(G))      &key_repeat                                     _x_               _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               xxx               &kp C_BRI_DN      &vol_dn_mute      &vol_prev_pp      &undo_redo                                      _x_               _x_               _x_               _x_               xxx               xxx
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           _x_               ___             xxx             xxx             ___               ___
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- APP ----------
//////////////////////////////

ZMK_LAYER(APP,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               &kp LG(LS(F))     &kp LA(LS(N1))    &kp LA(LS(N6))    _x_               xxx                                             xxx               _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               &kp LG(LS(C))     &kp LA(LS(N3))    &kp LA(LS(N2))    _x_               &kp LG(LS(SPACE))                               _x_               _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               xxx               &kp LA(LS(N5))    &kp LA(LS(N4))    _x_               _x_                                             _x_               _x_               _x_               _x_               xxx               xxx
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           ___               _x_             xxx             xxx             ___               ___
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- TMP ----------
//////////////////////////////

ZMK_LAYER(TMP,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               _x_               _x_               _x_               _x_               xxx                                             xxx               _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               _x_               _x_               _x_               _x_               _x_                                             _x_               _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               xxx               _x_               _x_               _x_               _x_                                             _x_               _x_               _x_               _x_               xxx               xxx
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           ___               ___             xxx             xxx             _x_               ___
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- SEC ----------
//////////////////////////////

// TODO: add Fn key

ZMK_BEHAVIOR(smart_0, mod_morph,
    bindings = <&kp N0>, <&kp 0>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_1, mod_morph,
    bindings = <&kp N1>, <&kp F1>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_2, mod_morph,
    bindings = <&kp N2>, <&kp F2>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_3, mod_morph,
    bindings = <&kp N3>, <&kp F3>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_4, mod_morph,
    bindings = <&kp N4>, <&kp F4>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_5, mod_morph,
    bindings = <&kp N5>, <&kp F5>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_6, mod_morph,
    bindings = <&kp N6>, <&kp F6>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_7, mod_morph,
    bindings = <&kp N7>, <&kp F7>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_8, mod_morph,
    bindings = <&kp N8>, <&kp F8>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(smart_9, mod_morph,
    bindings = <&kp N9>, <&kp F9>;
    mods = <(MOD_LSFT)>;
)

MAKE_HRM(hm_6, &kp, &smart_6)

ZMK_BEHAVIOR(smart_left, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp LEFT>, <&kp HOME>;
)

ZMK_BEHAVIOR(smart_down, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp DOWN>,  <&kp PG_DN>;
)

ZMK_BEHAVIOR(smart_up, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp UP>, <&kp PG_UP>;
)

ZMK_BEHAVIOR(smart_right, tap_dance,
    tapping-term-ms = <SHORT_TAP_MS>;
    bindings = <&kp RIGHT>, <&kp END>;
)

MAKE_HRM(hm_down, &kp, &smart_down)

ZMK_BEHAVIOR(switch_lang, tap_dance,
    bindings = <&mt LGUI LC(SPACE)>, <&caps_word>;
)

ZMK_LAYER(SEC,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               &kp ESC           &smart_7          &smart_8          &smart_9          xxx                                             xxx               _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               &kp TAB           &smart_4          &smart_5          &hm_6 LSHFT 0     ___                                             &smart_left       &hm_down LSHFT 0  &smart_up         &smart_right      &switch_lang      xxx
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               xxx               &smart_1          &smart_2          &smart_3          &caps_word                                      _x_               _x_               _x_               _x_               xxx               xxx
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           &smart_0          ___              xxx             xxx             ___               _x_
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

//////////////////////////////
// ---------- BLU ----------
//////////////////////////////

#if CONFIG_WIRELESS

#include <dt-bindings/zmk/bt.h>

ZMK_CONDITIONAL_LAYER(APP TMP, BLU)

ZMK_LAYER(BLU,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               &bt BT_CLR        &bt BT_SEL 7      &bt BT_SEL 8      &bt BT_SEL 9      xxx                                             xxx               _x_               _x_               _x_               &bt BT_CLR        xxx
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               &bt BT_SEL 0      &bt BT_SEL 4      &bt BT_SEL 5      &bt BT_SEL 6      &bootloader                                     &bootloader       _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               xxx               &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3      &sys_reset                                      &sys_reset        _x_               _x_               _x_               xxx               xxx
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           ___               ___             xxx             xxx             ___               ___
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

#else

ZMK_LAYER(BLU,
//╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮                                 ╭─────────────╮   ╭─────────────┬───┬─────────────┬───┬─────────────┬───┬─────────────╮   ╭─────────────╮
   xxx               &bt BT_CLR        _x_               _x_               _x_               xxx                                             xxx               _x_               _x_               _x_               &bt BT_CLR        xxx
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╰─────────────╯                                 ╰─────────────╯   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
//
//├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────╮                                 ╭─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤
   xxx               _x_               _x_               _x_               _x_               &bootloader                                     &bootloader       _x_               _x_               _x_               _x_               xxx
//├─────────────┤   ╰─────────────┴───┼─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┼───┴─────────────╯   ├─────────────┤
//
//├─────────────┼───┬─────────────╮   ├─────────────┼───┼─────────────┼───┼─────────────┤   ├─────────────┤                                 ├─────────────┤   ├─────────────┼───┼─────────────┼───┼─────────────┤   ╭─────────────┬───┼─────────────┤
   xxx               _x_               _x_               _x_               _x_               &sys_reset                                      &sys_reset        _x_               _x_               _x_               _x_               xxx
//╰─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────╯                                 ╰─────────────╯   ╰─────────────┴───┴─────────────┴───┴─────────────╯   ╰─────────────┴───┴─────────────╯
//                                                                        ╭─────────────┬───┬─────────────╮ ╭─────────────╮ ╭─────────────╮ ╭─────────────┬───┬─────────────╮
                                                                           ___               ___             xxx             xxx             ___               ___
//                                                                        ╰─────────────┴───┴─────────────╯ ╰─────────────╯ ╰─────────────╯ ╰─────────────┴───┴─────────────╯
)

#endif
