/*                     KEY POSITIONS
  ╭─────────────────────╮         ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │         │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │         │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 ╰───╮ ╭───╯ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────────╯
              ╰─────────────╯ ╰─────────────╯          */

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <175>;

#undef COMBO_TERM
#define COMBO_TERM 30

ZMK_BEHAVIOR(par, mod_morph,
    bindings = <&kp LPAR>, <&kp RPAR>;
    mods = <(MOD_LSFT)>;
)

ZMK_BEHAVIOR(bkt, mod_morph,
    bindings = <&kp LBKT>, <&kp RBKT>;
    mods = <(MOD_LSFT)>;
)

ZMK_BEHAVIOR(brc, mod_morph,
    bindings = <&kp LBRC>, <&kp RBRC>;
    mods = <(MOD_LSFT)>;
)

ZMK_BEHAVIOR(thn, mod_morph,
    bindings = <&kp LT>, <&kp GT>;
    mods = <(MOD_LSFT)>;
)

/* Vertical combos - left hand */
ZMK_COMBO(at    , &kp AT    , LT0 LM0 , ALL , COMBO_TERM)
ZMK_COMBO(hash  , &kp HASH  , LM0 LB0 , ALL , COMBO_TERM)

ZMK_COMBO(amps  , &kp AMPS  , LT1 LM1 , ALL , COMBO_TERM)
ZMK_COMBO(pipe  , &kp PIPE  , LM1 LB1 , ALL , COMBO_TERM)

ZMK_COMBO(equal , &kp EQUAL , LT2 LM2 , ALL , COMBO_TERM)
ZMK_COMBO(under , &kp UNDER , LM2 LB2 , ALL , COMBO_TERM)

ZMK_COMBO(star  , &kp STAR  , LT3 LM3 , ALL , COMBO_TERM)
ZMK_COMBO(fslh  , &kp FSLH  , LM3 LB3 , ALL , COMBO_TERM)

ZMK_COMBO(plus  , &kp PLUS  , LT4 LM4 , ALL , COMBO_TERM)
ZMK_COMBO(minus , &kp MINUS , LM4 LB4 , ALL , COMBO_TERM)

/* Vertical combos - right hand */
ZMK_COMBO(grave , &kp GRAVE  , RT0 RM0 , ALL , COMBO_TERM)
ZMK_COMBO(tilde , &kp TILDE  , RM0 RB0 , ALL , COMBO_TERM)

ZMK_COMBO(par   , &par       , RT1 RM1 , ALL , COMBO_TERM)
ZMK_COMBO(bkt   , &bkt       , RT2 RM2 , ALL , COMBO_TERM)
ZMK_COMBO(brc   , &brc       , RT3 RM3 , ALL , COMBO_TERM)
ZMK_COMBO(thn   , &thn       , RT4 RM4 , ALL , COMBO_TERM)

ZMK_COMBO(bslh  , &kp BSLH   , RM1 RB1 , ALL , COMBO_TERM)
ZMK_COMBO(semi  , &kp SEMI   , RM2 RB2 , ALL , COMBO_TERM)
ZMK_COMBO(colon , &kp COLON  , RM3 RB3 , ALL , COMBO_TERM)
ZMK_COMBO(excl  , &kp EXCL   , RM4 RB4 , ALL , COMBO_TERM)

/* Horizontal combos - left hand */
ZMK_COMBO(bspc  , &kp BSPC   , LT4 LT3 , ALL , COMBO_TERM)
ZMK_COMBO(ret   , &kp RET    , LM4 LM3 , ALL , COMBO_TERM)
ZMK_COMBO(cw    , &caps_word , LB4 LB3 , ALL , COMBO_TERM)

/* Horizontal combos - right hand */
ZMK_COMBO(esc   , &kp ESC    , RM1 RM2 , ALL , COMBO_TERM)
